In [1]:
import pandas as pd
import numpy as np
import scipy 
import seaborn as sns
import statsmodels as sm

In [2]:
print('Versão do pd -> %s' % pd.__version__)
print('Versão do np -> %s' % np.__version__)
print('Versão do sns -> %s' % sns.__version__)
print('Versão do scipy -> %s' % scipy.__version__)
print('Versão do statsmodels -> %s' % sm.__version__)

Versão do pd -> 1.3.4
Versão do np -> 1.19.3
Versão do sns -> 0.9.0
Versão do scipy -> 1.7.1
Versão do statsmodels -> 0.12.2

In [3]:
import statsmodels.api as sm

In [4]:
dataset = {
    'Y': [670, 220, 1202, 188, 1869, 248, 477, 1294, 816, 2671, 1403, 1586, 3468, 973, 701, 5310, 10950, 2008, 9574, 28863, 6466, 4274, 6432, 1326, 1423, 3211, 2140], 
    'X': [1.59, 0.56, 2.68, 0.47, 5.2, 0.58, 1.32, 3.88, 2.11, 5.53, 2.6, 2.94, 6.62, 1.91, 1.48, 10.64, 22.39, 4.2, 21.9, 59.66, 14.22, 9.57, 14.67, 3.28, 3.49, 6.94, 6.25]
}

In [5]:
dataset = pd.DataFrame(dataset)
dataset

        Y      X
0     670   1.59
1     220   0.56
2    1202   2.68
3     188   0.47
4    1869   5.20
5     248   0.58
6     477   1.32
7    1294   3.88
8     816   2.11
9    2671   5.53
10   1403   2.60
11   1586   2.94
12   3468   6.62
13    973   1.91
14    701   1.48
15   5310  10.64
16  10950  22.39
17   2008   4.20
18   9574  21.90
19  28863  59.66
20   6466  14.22
21   4274   9.57
22   6432  14.67
23   1326   3.28
24   1423   3.49
25   3211   6.94
26   2140   6.25

In [7]:
Y = dataset.Y
X = sm.add_constant(dataset.X)

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [8]:
resultado_regressao = sm.OLS(Y, X, missing = "drop").fit()

In [9]:
resultado_regressao.params

const   -168.321156
X        481.390397
dtype: float64

In [10]:
beta_1 = resultado_regressao.params[0]
beta_1

-168.32115590461285

In [11]:
beta_2 = resultado_regressao.params[1]
beta_2

481.3903969421477

In [12]:
resultado_regressao.conf_int(alpha = 0.05)

                0           1
const -328.070885   -8.571427
X      470.140924  492.639870

In [13]:
dataset["Y_previsto"] = beta_1 + beta_2*dataset.X
dataset.head()

      Y     X   Y_previsto
0   670  1.59   597.089575
1   220  0.56   101.257466
2  1202  2.68  1121.805108
3   188  0.47    57.932331
4  1869  5.20  2334.908908

In [14]:
def prever(x):
    return beta_1 + beta_2*x

In [17]:
prever(2345678/1000000)

960.8657076138502

In [18]:
resultado_regressao.predict([1,2345678/1000000])[0]

960.8657076138502

In [19]:
resultado_regressao.rsquared

0.9967917066613234

In [20]:
EQM = resultado_regressao.mse_resid
EQM

110564.375699666